# This is a basic workflow to help you get started with Actions

name: Auto PR

# Automate PR from any branch
on:
  push:
    branches:
      - !main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    runs-on: ubuntu-latest
    
    steps: 
      run: echo 'BUILD; TEST & LINTERS SHOULD BE HERE'

  auto-pr:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
